<div class="" style="margin-top: 15px; display: inline">
    <div class="copyright" style="text-align: center;">
    	{#<a href ="http://fw-fix.com/getPrices/" target="_blank"><span>Catalog</span></a><br>#}
        <!--
        <a href ="http://fw-fix.ru/index.php?ukey=auxpage_10" target="_blank"><span>payment</span></a><br>
        <a href ="http://fw-fix.ru/index.php?categoryID=2159" target="_blank"><span>instructions</span></a><br>
        <a href ="mailto:proshivki@tut.by"><span>email</span></a><br>
        <a href ="skype:sergei.zotov"><span>skype</span></a><br>-->
    </div>
</div>